
.QuestionAndAnswer {
    background: url('../../img/ServicesAndPrices/layer1.png') no-repeat;
    background-position: 10px 17px;
}

.QuestionAndAnswer-header {
    max-width: 869px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-inline: 10px;
}

.QuestionAndAnswer-header h1 {
    padding-bottom: 20px;
}

.QuestionAndAnswer-header h2 {
    padding-bottom: 35px;
}

.QuestionAndAnswer-btn {
    padding: 21px 60px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background: #FF5C00;
}