
.QuestionAndAnswer {
    background: url('../../img/ServicesAndPrices/layer1.png') no-repeat;
    background-position: 10px 17px;
}

.QuestionAndAnswer-header {
    max-width: 869px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-inline: 10px;
}

.QuestionAndAnswer-header h1 {
    padding-bottom: 20px;
}

.QuestionAndAnswer-header h2 {
    padding-bottom: 35px;
}

.QuestionAndAnswer-btn {
    padding: 21px 60px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background: #FF5C00;
    box-shadow: 2px 8px 30px rgba(255, 92, 0, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.QuestionAndAnswer-btn:hover {
    background: #ff5e00d2;
}

.QuestionsForm {
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
}

.QuestionsForm input,textarea {
    max-width: 90%;
    padding-inline: 10px;
    margin-bottom: 15px;
    padding-block: 23px;
    border-radius: 10px;
    border: 1px solid #7A7A7A;
}

.QuestionsForm textarea {
    padding-block: 5px;
    min-height: 150px;
}

.QuestionsForm button {
    max-width: 250px;
    margin-block: 20px;
}

.QuestionsForm p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ADADAD;
    margin-bottom: 40px;
}