.oneSection { 
    background: url('../../img/montobl.png') center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin-top: -86.7px;
}

.oneSectionInfo {
    padding-block: 100px 300px;
    padding-inline: 20px;
    color: #fff;
}

.oneSectionInfo h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    margin-bottom: 40px;
}

.oneSectionInfo p {
    color: #000;
}

.oneSectionInfo ul {
    padding: 0px 0px 0px 25px;
}

.oneSectionInfo li {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 119.69%;
}

.home-modal-btn {
    padding-top: 40px;
}

.headerBtn {
    padding: 21px 60px;
    background: #00BB34;
    box-shadow: 2px 8px 30px #00BB34;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-top: 41px;
    cursor: pointer;
}
