.main-container {
    max-width: 1230px;
}

.windows {
    padding-block: 20px;
    padding-inline: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all-items-container {  
    display: flex;
    flex-direction: row;
    width: 1920px;
    transition: 0.5s all ease-in-out;
}

