.navMenu {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    padding: 31px 31px;
    background: #fff;
}

.navMenu a {
    text-decoration: none;
    color: #000;
}

.navMenu a:hover {
    box-shadow: inset 0 -2px 0 0 rgb(0, 0, 0);
    transition: all 700ms ease 0s;
}
