.SerAndPrices {
    background: url('../../img/ServicesAndPrices/layer1.png') no-repeat;
    background-position: 10px 17px;
}

.SerAndPrices-header {
    max-width: 869px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-inline: 15px;
}

.SerAndPrices-header h1 {
    font-size: 28px;
    line-height: 33px;
}

.SerAndPrices-price-header {
    max-width: 869px;
    padding-inline: 15px;
    padding-bottom: 50px;
    
}

.SerAndPrices-price-btn {
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 54px;
}

.SerAndPrices-price-free {
    padding-inline: 15px;
}

.SerAndPrices-price-free h3 {
    display: inline-block;
    padding: 22px 70px 22px 40px;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    background: linear-gradient(90deg, #4C257D 57.91%, #A2D3F1 92.67%);
    border-radius: 0px 10px 10px 0px;
}

.SerAndPrices-price-free p {
    display: inline-block;
    max-width: 70%;
    font-size: 15px;
    line-height: 18px;
    color: #595959;
}

@media (max-width: 643px) {

    .SerAndPrices-price-free p {
        display: inline-block;
        max-width: 100%;
        font-size: 15px;
        line-height: 18px;
        color: #595959;
    }

    .SerAndPrices-price-btn {
        display: flex;
        justify-content: center;
        padding-inline: 15px;
        padding-top: 10px;
        padding-bottom: 54px;
    }
}